@model CityModel

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <input asp-for="Id" type="hidden" />
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId"></label>
                <select asp-for="CountryId" asp-items="ViewBag.Countries" class="form-control">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        }
    </div>
</div>