@model CategoryModel

@{
    ViewData["Title"] = "Create Category";
}

<h1>@ViewData["Title"]</h1>

<partial name="_CreateEdit" model="Model" />

<div>
    <a asp-action="Index">Back to Category List</a>
</div>

