@model CountryModel

@{
    ViewData["Title"] = "Create Country";
}

<h1>@ViewData["Title"]</h1>

<partial name="_CreateEdit" model="Model" />

<div>
    <a asp-action="Index">Back to Country List</a>
</div>